
<!DOCTYPE html>
<html>
<head>
    <title>Personal Finance Tracker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/style.css' %}">
</head>
<body>
    <header>
        <h1>Personal Finance Tracker</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'expense_list' %}">Expenses</a></li>
                <li><a href="{% url 'add_expense' %}">Add Expense</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
